 

<div style="display:flex;">
<div class="image_dis animate__animated animate__flip animate__slow">
    <img src="assets/m1.png"  style="width: 600px;">
</div>

<div > <br><br><br><br><br>
    <table class="my-element"> 
<tr class="animate__animated animate__bounceInRight o1" ><td>Model</td><td>:</td><td>TechOne</td></tr>
 
<tr class="animate__animated animate__bounceInRight o2" ><td>Screen size (inches)</td><td>:</td><td> 5.8</td></tr>
<tr class="animate__animated animate__bounceInRight o3" ><td>Touchscreen</td><td>:</td><td>Yes</td></tr>

<tr class="animate__animated animate__bounceInRight o4" ><td>Processor</td><td>:</td><td>1.9GHz octa</td></tr>
<tr class="animate__animated animate__bounceInRight o5" ><td>Rear camera</td><td>:</td><td>Yes 12MP</td></tr>
<tr class="animate__animated animate__bounceInRight o6" ><td>Wi-Fi	</td><td>:</td><td>Yes</td></tr>
<tr class="animate__animated animate__bounceInRight o7" ><td>GPS</td><td>:</td><td>Yes</td></tr>

 
<tr class="animate__animated animate__bounceInRight o8" ><td>Number of SIMs</td><td>:</td><td>2</td></tr>
<tr class="animate__animated animate__bounceInRight o9" ><td>Wi-Fi Direct</td><td>:</td><td> Yes</td></tr>

<tr class="animate__animated animate__bounceInRight o10" ><td>Operating system</td><td>:</td><td>Android</td></tr>
<tr class="animate__animated animate__bounceInRight o11" ><td>Dimensions</td><td>:</td><td>1</td></tr>
<tr class="animate__animated animate__bounceInRight o12" ><td>Removable battery</td><td>:</td><td>NO</td></tr>
<tr class="animate__animated animate__bounceInRight o13" ><td>Price</td><td>:</td><td>1,00,000</td></tr>  

    </table>
     
</div> 

</div>
 