<div class="card-container animate__animated animate__fadeInUp animate__slow">
    
    <a class="card" href="product">
     <span> <img src="assets/m1.png" height="150"> </span> 
    </a>
   
    <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m2.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m1.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m2.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m1.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m2.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m1.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m1.png" height="150"> </span> 
     </a>
   
     <a class="card" target="_blank" rel="noopener" href="">
      <span> <img src="assets/m1.png" height="150"> </span> 
     </a>
  </div>